/* SAMPLE FONT FACE
@font-face {
	font-family: 'AppFont';
	src: url('../fonts/appfont.eot');
	src: url('../fonts/appfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/appfont.woff') format('woff'),
	url('../fonts/appfont.ttf') format('truetype'),
	url('../fonts/appfont.svg#appfont') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/